---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <h2 class="blog-description">if you have any questions for me, contact me via my email :-)</h2>
    <h2 class="blog-description"><a href="mailto:wooilahn@kaist.ac.kr">wooilahn@kaist.ac.kr</a> | +82-42-350-7752</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}
      <a href={{ "/assets/CV/CV.pdf" | absolute_url }}>CV(Curriculum Vitae)</a>
    </div>
</header>

<main class="content" role="main">
  <h5 class="index-headline featured"><span>About me</span></h5>
  <div class="container featured">
    {% for post in site.tags.featured %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
          <header class="post-header">
            <h2 class="post-title" itemprop="name"> {{ post.title }} </h2>
          </header>
          <section class="post-excerpt" itemprop="description">
            <p>{{ post.content }}</p>
          </section>
        </div>
      </article>
      <h5 class="index-headline featured"></h5>
    {% endfor %}
  </div>
</main>
  